.rectangle {
    /* Rectangle 22 */
    position: absolute;
    width: 1440px;
    height: 340px;
    left: 0px;
    top: 0px;
    background: #163100;
    display: flex;
    flex-direction: column;
}